<!DOCTYPE html>
<html>
     <head>
      <link rel="stylesheet" href="../static/style.css">
    </head>
     <body>
        <div class="navbar">
            <ul class="navigation">
                <li class="navigation_li"><a class="navigation_a" href="{{url_for('index')}}">Home</a></li>
                {% if not current_user.is_authenticated%}
                <li class="navigation_li"><a class="navigation_a" href="{{url_for('log_in')}}">Log in</a></li>
                <li class="navigation_li"><a class="navigation_a" href="{{url_for('sign_up')}}">Sign up</a></li>
                {% else%}
                <li class="navigation_li"><a class="navigation_a" href="{{url_for('chat')}}">Chat</a></li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated%}
            <a class="profile_a" href="{{url_for('profile')}}"><img class="profile_img" src={{current_user.profile_picture}}></a>
            {% else %}
            <a class="profile_a" href="{{url_for('log_in')}}"><img class="profile_img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"></a>
            {% endif %}
        </div>

        {% for message in get_flashed_messages() %}
            <br><br><br>
            <h3 class="alert">{{ message }}</h3>
        {% endfor %}

    {% block content%}
    {%endblock%}
    </body>
</html>