{% extends "base.html"%}
{% block content%}
        <main>
          <style></style>
          <section class="hero">
              <h1>胡Chat</h1>
            <p>Secure family group chat software with end-to-end encryption.</p>
          </section>
          <section class="features" id="features">
            <h2>Features</h2>
            <ul>
                <li>Data is kept within the family, and out of big tech companies' hands</li>
              <li>Encryption - Keep trade secrets or business ideas strictly confidential.</li>
              <li>User-friendly interface, yet can be modified as needed while also gaining front-end/back-end skills. This website is just a starting point, expect it to change.</li>
            </ul>
          </section>
          <section class="how-it-works" id="how-it-works">
            <h2>How It Works</h2>
            <ol>
              <li>Browse to the website and enter your secure credentials to access the chat network. (Future plans for desktop app and Android app.)</li>
              <li>Start Messaging, either direct messsages or different group discussion topic threads.</li>
              <li>Browse the "GOALS" page to see a list of current Objectives by the family, ranked in order of priority.</li>
              <ul>
                <li>Goals can be long term or short term.</li>
                <li>Goals can consist of large objectives, or short tasks, such as "buy XYZ real estate to rent out", to "do research on the real estate market surrounding Lehigh Valley".</li>
                <li>There is a ticket system for goals such that when a goal is marked as completed, it is moved to the archive folder.</li>
                <li>Goals possibly to be implemented with SQL, and giving each goal it's own private key.</li>


              </ul>

            </ol>
          </section>
          <section class="download" id="download">
            <h2>Download Now</h2>
            <a href="#" class="app-store-badge"><img src="images/app-store-badge.png"></a>
            <a href="#" class="google-play-badge"><img src="images/google-play-badge.png"></a>
          </section>
        </main>

     {% endblock %}