{% extends "base.html"%}

{% block content %}

    <main>
      <section class="hero">
	      <h1>Log in</h1>
        <p>Sign in to continue your brilliance</p>
      </section>
      <form action="{{url_for('log_in')}}" method="POST">
          {{template_form.hidden_tag()}}
        <table class="authentication_table">
          <tbody>
            <tr>
              <td>
                {{template_form.email.label}}
                {{template_form.email()}}
              </td>
            </tr>
            <tr>
              <td>
                {{template_form.password.label}}
                {{template_form.password()}}
              </td>
            </tr>
            <tr>
              <td>
                {{template_form.submit()}}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </main>
{% endblock %}